<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>DOCKER1</name>
  <description></description>
  <remoteFS>/Users/vahangevorgyan/jenkins</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.CommandLauncher" plugin="command-launcher@81.v9c2cb_cb_db_392">
    <agentCommand></agentCommand>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>